:root{
    --hauteur-menu: 20px;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
	font-family: 'poppins', sans-serif;
    background-color: #D9CCC1;
    background-size: cover;
    

}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    height: 6.25rem;
    width: 100%;
}



.nav {
    padding: 40px; 
    display: flex;
    width: 100%;
    background-color: #D9CCC1;
}




.accueil {
    position: fixed;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    left: 51px;
    top: 43px;
    padding-right: 100px;
}

.menu a {
    position: fixed;
    display: flex;
    writing-mode: vertical-rl;
    right: 3rem;
    top: 47px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
}


.menu a:hover {
    transition: 1s;
    font-size: 21px;
}

h1 {
    display:flex;
    font-weight: 400;
}

.monblog {
    position: relative;
    display: flex;
    flex: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 100px;
    letter-spacing: -5.4px;
    text-transform: uppercase;
    left: 51px;
    top: 403px;
    width: 900px;
    }
@media all and (max-width:750px){
    .monblog {
        font-size: 2.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 4.0625rem;
        letter-spacing: -0.12813rem;
        text-transform: uppercase;
        transition: all 1s ease-out;

    }
}


aside {
    display: flex;
    flex-basis: 25%;
    right: 0;
    height: 100%;
    width: 6.25rem;
    padding-left: 100px;

}



aside p {
    position: fixed;
    display: flex;
    transform: rotate(90.304deg);
    font-family: 'poppins', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    bottom: 100px;
    right: 2rem;
}

.vertical-line{
    position: fixed;
    display: flex;
    border-left: 2px solid #000;
    display: inline-block;
    height:70px;
    right: 3rem;
    bottom:0
}

.découvertes {
    position: relative;
    top: 950px;
    left: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 77.5px;
}

.carousel {
    position: relative;
    top: 1000px;
    left: 100px;
    padding-right: 200px;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;

}

.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px; /*250px pour mobile*/
    margin-left: 1rem;
}

.carousel-item {
    margin-left: 1rem;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 4rem;
    scroll-snap-align: start;
}

.card img {
    width: 250px;
    max-width: 100%;
	height: auto;
    padding-bottom: 20px;
}


button {
  cursor: pointer;
  font-weight: 700;
  font-family: 'poppins',"sans-serif";
  color: #56514c;
  transition: all .2s;
  background: #D9CCC1;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}


button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

span {
    padding-left: 5px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

.carousel2 {
    position: relative;
    top: 1300px;
    left: 100px;
    padding-right: 200px;
    padding-bottom: 100px;

}

.epp{
    position: relative;
    top: 1230px;
    left: 51px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 77.5px;
}